.statistics {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 7px 5px 4px rgba(2, 12, 19, 0.15);
  background-color: white;
}

.stat_list {
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}
